<!DOCTYPE html>
<html>
<head>
  <title>Личный кабинет</title>
</head>
<body>
  <h2>Добро пожаловать, {{ request.user.username }}</h2>

  <nav>
    <ul>
      <li><a href="#">Индивидуальный план</a></li>
      <li><a href="#">Учебно-методическая работа</a></li>
      <li><a href="#">Организационно-методическая работа</a></li>
      <li><a href="#">Научно-исследовательская работа</a></li>
      <li><a href="#">Хоздоговорная деятельность</a></li>
      <li><a href="#">Научно-методическая работа</a></li>
      <li><a href="#">Публикации и статьи</a></li>
      <li><a href="#">Общественно-воспитательная</a></li>
      <li><a href="#">Замечания</a></li>
      <li><a href="#">Повышение квалификации</a></li>
      {% if user.groups.first.name == 'head' %}
        <li><a href="#">Сотрудники</a></li>
        <li><a href="#">Уровни доступа</a></li>
      {% endif %}
      <li><a href="{% url 'logout' %}">Выйти</a></li>
    </ul>
  </nav>

</body>
</html>
